__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
.uv/
.ipynb_checkpoints/
data/
datasets/
*.csv
*.parquet
*.xlsx
*.pkl
checkpoints/

*.pt
*.pth
mysql_data/
*.pem
.env
**/.env
.DS_Store
Thumbs.db
logs/
*.log
.cache/
